@font-face {
  font-family: "Ubuntu Mono";
  src: url("/fonts/UbuntuMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("/fonts/UbuntuMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
  line-height: 1.6;
  background: #0a0a0a;
  color: #e0e0e0
}